services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8080:80"
    env_file:
      - api.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - backend-network

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    env_file:
      - worker.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
